
# --- DVC allowlist ---
# Ignora data por defecto, pero permite los metadatos .dvc
# (algunas plantillas ya tienen 'data/*', por eso agregamos excepciones)
!data/**/*.dvc
!data/**/.gitkeep

# Asegura que el directorio .dvc y su config sean versionados
!.dvc/
!.dvc/config
